<% if(label != ''){ %>
<label><%= label %></label>
<% } %>
<select class="<%= classes %>" id="<%= id %>">
   <% if(optional){ %>
      <% if(selected == ''){%>
      <option selected="selected"></option>
      <% }else{ %>
      <option></option>
      <% } %>
   <% } %>
   <% for(var i = 0; i < list.length; i++){ %>
      <%if(!selected || selected.toLowerCase() != list[i].toLowerCase()){%>
      <option><%= list[i] %></option>
      <% } else { %>
      <option selected="selected"><%= list[i] %></option>
      <% } %>
   <% } %>
</select>
