<img src="img/<%= pkmn.get('id') %>.gif" alt=""></img>
<form class="form-inline">
   <div class="form-group">
      <label for="pokemon">Pokemon</label>
      <input type="text" data-attr="name" class="form-control" id="pokemon" value="<%= pkmn.get('name')%>">
   </div>
   <div class="form-group">
      <label for="level">Level</label>
      <select data-attr="level" class="form-control resubmit" id="level">
         <% for(var i = 0; i < 100; i++){ %>
            <% if((i + 1) == pkmn.get('level')){ %>
               <option selected="selected"><%= i + 1 %></option>
            <% }else{ %>
               <option><%= i + 1 %></option>
            <% } %>
         <% } %>
      </select>
   </div>
   <div class="form-group">
      <label for="nature">Nature</label>
      <select data-attr="nature" class="form-control resubmit" id="nature">
         <option><%= pkmn.nature.get('name') %></option>
         <% for(var nature in natures){ %>
         <% if(natures[nature] != pkmn.nature.get('name')){ %>
         <option><%= natures[nature] %></option>
            <% } %>
         <% } %>
      </select>
   </div>
   <div class="form-group">
      <label for="char">Characteristic</label>
      <select data-attr="characteristic" class="form-control resubmit" id="char">
      </select>
   </div>
</form>
<table class='table table-condensed'>
   <thead>
         <th>Evs:</th>
         <% for(i in pkmn.stats) {  %>
            <th><%= pkmn.stats[i] %></th>
         <% } %>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td></td>
      <% for(var i in pkmn.stats) { %>
      <td><input data-attr="<%= 'ev_' + pkmn.stats[i].toLowerCase() %>" type="text" class="form-control resubmit" id="ev-<%=pkmn.stats[i].toLowerCase() %>" value="<%= pkmn.get('ev_' + pkmn.stats[i].toLowerCase()) || 0 %>"></td>
         <% } %>
      </tr>
   </tbody>
</table>
<table class='table table-condensed'>
   <thead>
      <tr>
         <th>IV Range</th>
         <% for(var i in pkmn.stats) {  %>
            <th><%= pkmn.stats[i] %></th>
         <% } %>
      </tr>
   </thead>
   <tbody>
      <% for(var i = 0; ivTable && (i < ivTable.length); i++) { %>
         <tr>
            <td><%= 31 - i %></td>
            <td><%= ivTable[i][0] %></td>
            <td><%= ivTable[i][1] %></td>
            <td><%= ivTable[i][2] %></td>
            <td><%= ivTable[i][3] %></td>
            <td><%= ivTable[i][4] %></td>
            <td><%= ivTable[i][5] %></td>
         </tr>
      <% } %>
   </tbody>
</table>

