<div class="container">
   <div class="row">
      <div class="span4"></div>
      <div class="span4"><img style="padding: 10px;" class="center-block" src="img/<%= pkmn.get('num') %>.gif" /></div>
      <div class="span4"></div>
   </div>
</div>

<div class="container">
  <form class="form-inline text-center">
     <div id="pkmndd" class="form-group">
     </div>
     <div class="form-group">
        <label for="level">Level</label>
        <select data-attr="level" class="form-control resubmit" id="level">
           <% for(var i = 0; i < 100; i++){ %>
              <% if((i + 1) == pkmn.get('level')){ %>
                 <option selected="selected"><%= i + 1 %></option>
              <% }else{ %>
                 <option><%= i + 1 %></option>
              <% } %>
           <% } %>
        </select>
     </div>
     <div id="naturedd" class="form-group">
     </div>
     <div id="chardd" class="form-group">
     </div>
  </form>
</div>

<table class='table table-condensed'>
   <thead>
         <th>Evs:</th>
         <% for(i in pkmn.stats) {  %>
            <th><%= pkmn.stats[i] %></th>
         <% } %>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td></td>
      <% for(var i in pkmn.stats) { %>
      <td><input data-attr="<%= 'ev_' + pkmn.stats[i].toLowerCase() %>" type="text" class="form-control resubmit" id="ev-<%=pkmn.stats[i].toLowerCase() %>" value="<%= pkmn.get('ev_' + pkmn.stats[i].toLowerCase()) || 0 %>"></td>
         <% } %>
      </tr>
   </tbody>
</table>
<table class='table table-condensed'>
   <thead>
      <tr>
         <th>IV Range</th>
         <% for(var i in pkmn.stats) {  %>
            <th><%= pkmn.stats[i] %></th>
         <% } %>
      </tr>
   </thead>
   <tbody>
      <% for(var i = 0; ivTable && (i < ivTable.length); i++) { %>
         <tr>
            <td><%= 31 - i %></td>
            <td class="<%= charTable.length > 0 ? charTable[i][0] : '' %>"><%= ivTable[i][0] %></td>
            <td class="<%= charTable.length > 0 ? charTable[i][1] : '' %>"><%= ivTable[i][1] %></td>
            <td class="<%= charTable.length > 0 ? charTable[i][2] : '' %>"><%= ivTable[i][2] %></td>
            <td class="<%= charTable.length > 0 ? charTable[i][3] : '' %>"><%= ivTable[i][3] %></td>
            <td class="<%= charTable.length > 0 ? charTable[i][4] : '' %>"><%= ivTable[i][4] %></td>
            <td class="<%= charTable.length > 0 ? charTable[i][5] : '' %>"><%= ivTable[i][5] %></td>
         </tr>
      <% } %>
   </tbody>
</table>

