<div class="container">
   <div class="row">
      <div class="span4"></div>
      <div class="span4"><img style="padding: 10px;" class="center-block" src="img/<%= pkmn.get('id') %>.gif" /></div>
      <div class="span4"></div>
   </div>
</div>

<form class="form-inline">
   <div id="pkmndd" class="form-group">
   </div>
   <div id="move1dd" class="form-group">
   </div>
   <div id="move2dd" class="form-group">
   </div>
   <div id="move3dd" class="form-group">
   </div>
   <div id="move4dd" class="form-group">
   </div>
</form>
<table>
   <tbody>
      <tr>
         <td></td>
      <% var y = 0; %>
      <% for(var type in types){ %>
            <td><img src="img/<%= types[type] %>.gif"></img></td>
      <% } %>
      <% for(var type in types){ %>
         <tr>
            <td><img src="img/<%= types[type] %>.gif"><img></td>
            <% var x = 0; %>
            <% for(var type in types){ %>
               <% if(y >= x) { %>
               <td title="<%= coverageTableMoves[x][y] %>"><%= coverageTable[x++][y] %></td>
               <%} else {%>
               <td></td>
               <% } %>
            <% } %>
            <% y++ %>
         </tr>
      <% } %>
   </tbody>
</table>
